div#hero {
    background-image: url(../img/backgrounds/hero.jpg);
    background-size: 100% 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 100%;
    
}
#clothing {
    text-align: center;
    padding-top: 16%;
    font-family: 'Roboto Condensed', sans-serif;
    }
.mouse{
	text-align: center;
	margin-top: 10% auto;
	padding-bottom: 2%;
}
.paragraph p{
	font-size: 1.2em;
}
.paragraph h2{
	font-size: 3.5em;
    margin-bottom: 3%
}
.row .choices{
    margin: auto;
    padding: 2% 0% 1% 7%;
    background: rgb(198, 191, 165) none repeat scroll 0% 0%;
    font-size: 2em;
    text-transform: uppercase;
    clear: both;
}

.button:hover{
	background: #661A00 none repeat scroll 0% 0%;
	color:blue;
	font-size: .5em;
}
.button a{
	color: #fff;
}


div#men section{
    height: 13%;
}
p {
    padding-top: 15%;
    padding-left: 35%;
    font-size: 22px;
}
hr {
    padding-top: 2%;
    border-width: 4px;
}
img.thumbnail {
    height: 16em;
    width:16em;
}
div#women{
    padding-right: 12%;
}
div#about {
    height: 70%;
    background-image: url(../img/backgrounds/about.jpg);
    background-size: cover;
    text-align: center;
}

/*PRODUCTS*/
.row .choices{
    margin: auto;
    padding: 2% 0% 1% 7%;
    background: rgb(198, 191, 165) none repeat scroll 0% 0%;
    font-size: 2em;
    text-transform: uppercase;
    clear: both;
}
article{
	margin-top: 10%;
	padding-left: 7%;
}
article h6{
	color: rgb(69, 69, 69);
	font-weight: bold;
	margin-top: 13%;
	margin-left: 24%;
}
article hr{
	width: 100%;
}
article ul{
	margin: 8% 0% 48%;
	width: 113%;
}
article li{
	float: left;
list-style: inside none none;
position: relative;
border: 0.5em solid #F5F5F7;
width: 25%;
margin-right: 8%;
height: 76vh;
background: #F5F5F7;
}
article li:hover{
	border: 0.5em solid #A99B76;
}
article li img{
    margin: 23% 20%;
}
li h4{
	position: absolute;
	top: 1%;
	left: 5%;
	text-transform: uppercase;
	font-size: 1em;
}
li h4{
	position: absolute;
	top: 1%;
	left: 5%;
	text-transform: uppercase;
	font-size: 1em;
}

li h3{
position: absolute;
bottom: 0px;
margin-bottom: 3%;
right: 7%;
font-size: 1em;
}
#about{
	max-height: 60vh;
	background-size: 100% 100%
}
fieldset{
	width: 58%;
	margin: 5% auto;
	font-size: 1.2em;
	color: #FFF;
	border: 0.1em solid #A99B76;
	text-align: center;
	padding: 2%;
}
legend{
	margin: 0% 38%;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
}
#about hr{
	width: 30%;
	float: left;
}
#about h5{
	width: 20%;
	float: left;
}
/*TWITTER*/
.twitter{
	min-height: 10vh;
    background: rgb(83,81,84);
    text-align: center;
    padding-top: 1%;
    color: #fff;
    font-size: 1.2em;
}
/*FOOTER*/
.footer{
	background: rgb(65,65,65);
}

.left{
	padding: 5% 0% 0% 5%;
	color: #fff;
}
.center{
	text-align: center;
	color: #fff;
	padding-top: 5%;
	font-size: 1.4em;
}
.center ul{
	width: 100%;
	margin: 0% 20%;
	padding-left: 21%;
	}
.center ul li{
	float: left;
	list-style: outside none none;
	width: 20%;
	height: 10vh;
}

.right{
	margin-top: 4%;
	color: rgb(255, 255, 255);
	padding: 5%;
	font-weight: 100;
}
.copy{
	text-align: center;
	clear: both;
	color: #fff;
	margin-top: 9%;
	font-size: .6em;
}
