div#hero {
    background-image: url(../img/backgrounds/hero.jpg);
    background-size: 100% 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: aliceblue;
    width: 100%;
    height: 100%;
    
}
#clothing {
    text-align: center;
    padding-top: 16%;
    font-family: 'Roboto Condensed', sans-serif;
}

div#gender-products {
    height: 15%;
    padding-top: 2%;
    background-color: #CCCC99;
}
fieldset#button {
    padding-left: 15%;
}

.button{
   float:right;
   background-color:  brown;
}

div#men section{
    height: 13%;
}
p {
    padding-top: 15%;
    padding-left: 35%;
    font-size: 22px;
}
hr {
    padding-top: 2%;
    border-width: 4px;
}
img.thumbnail {
    height: 16em;
    width:16em;
